---
layout: default
description: This is a meta description to help with SEO.
---
<div class="container">
	<div class="page-title-box">
		<div class="row">
			<div class="col col-10 push-2 col-11 push-t-1 col-m-12 push-m-0">
				<h1 class="page-title">{{ page.title | escape }}</h1>
			</div>
		</div>
	</div>

	{% if page.image %}
	<div class="page__head">
		<div class="page-image" style="background-image: url({{site.baseurl}}/images/{{page.image}})"></div>
	</div>
	{% endif %}
</div>

<div class="container">
	<br>
	<form style="border:20px solid #76867D;padding:6px;text-align:center;" action="https://tinyletter.com/simplehomemom" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/simplehomemom', 'popupwindow', 'scrollbars=yes,width=1150,height=600');return true"><p><label for="tlemail">Join my mail list and grab my FREE Chore Checklists. </strong></label></p><p><input type="text" style="width:140px" name="email" id="tlemail" /></p><input type="hidden" value="1" name="embed"/><input type="submit" value="SIGN ME UP!" /><p><a href="https://tinyletter.com" target="_blank">powered by TinyLetter</a></p></form>
	<div class="row">
		<!-- begin page -->
		<article class="page col col-8 col-t-10 col-m-12">
			<div class="page__content">
				{{ content }}
			</div>
		</article>

		<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
		
		<!-- end page -->
	</div>
</div>
